{% extends 'root/base.html' %}
{% load static %}
{% block title %} INCO Terms (Master Settings) {% endblock %}
{% block maincontent %}
{% include 'root/loader.html' %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<div class="container-fluid">
    <div class="configuration-table_wrapper">
        <div class="elements-space-between">
            <h3>Maintain INCO Terms</h3>
            <div>
                <button class="btn btn-outline-primary"  title="Extract" onclick="location.href='{% url 'eProc_Master_Settings:extract_incoterms_data' %}'" type="button">
                    <i class="fas fa-download"></i> extract data
                </button>
                <button class="btn btn-primary" title=" Add INCO Term" type="button" id="id_add_data" value="ADD" data-toggle="modal" data-target="#Incoterms_Modal" onclick="onclick_add_button(this)">
                    <i class="fa fa-plus"></i> Add INCO term
                </button>
                  <button class="btn btn-outline-secondary" id="id_close" value="close" title="Close"  onclick="window_close();">
                    <i class="fas fa-times"></i> close
                </button>
            </div>
        </div>
        <hr>
        <div class="configuration-table_section">
            <div id="err_msg_app_settings"> </div>
            <div id="err_msg_app_settings_t" class="alert alert-success" hidden><span id="success_msg_id"></span></div>
            <div class="table-container tcw-60">
                <div class="edit-button-section mb-4">
                    <button class="btn btn-secondary btn-sm" title="Edit" id="id_edit_data" onclick="onclick_edit_button()">
                        <i class="fas fa-edit"></i> edit
                    </button>
                    <button class="btn btn-outline-danger btn-sm" title="Delete" id="id_delete_data" value="DELETE" style="display:none;" data-toggle="modal" data-target="#id_delete_confirm_popup">
                        <i class="fa fa-trash"></i> delete
                    </button>
                    <button class="btn btn-primary btn-sm" title="Copy" id="id_copy_data" style="display:none;" value="COPY" type="button" onclick="onclick_copy_button()">
                        <i class="fa fa-copy"></i> copy
                    </button>
                    <button class="btn btn-primary btn-sm" title="Update" id="id_update_data" style="display:none;"  value="UPDATE"  type="button" onclick="onclick_update_button()">
                        <i class="far fa-edit"></i> update
                    </button>
                    <button class="btn btn-secondary btn-sm" title="Cancel" id="id_cancel_data" style="display:none;" type="button" onclick="display_basic_db_data()">
                        <i class="fas fa-times"></i> cancel
                    </button>
                </div>
                <!--   display basic Inco term table-->
                <table id="display_basic_table" class="class_basic_country_table table table-bordered custom-table">
                    <thead id="id_incoterm_table_header">
                    <tr>
                        <th id="hg_select_checkbox"  hidden>
                            <div id="id_check_all" style="display:none;">
                                <input type="checkbox" id="selectAll" name="chk[]">
                            </div>
                        </th>
                        <th >Incoterm</th>
                        <th >Description</th>
                    </tr>
                    </thead>
                    <tbody id="id_incoterm_tbody">
                    {% for data in incoterms_data %}
                    <tr >
                        <td class="class_select_checkbox" hidden><input type="checkbox" class="checkbox_check" onclick="valueChanged()" required></td>
                        <td>{{ data.incoterm_key}}</td>
                        <td>{{data.description}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--modal popup for Add,copy,update and upload-->
    <div class="modal fade" id="Incoterms_Modal" style="overflow:auto;">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Maintain INCO term</h5>
                    <button type="button" class="close remove_upload_data" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="popup-vertical-scroll">
                        <div id="id_del_add_button" class="mb-4">
                            <button class="btn btn-primary" title="Add New Row" type="button" onclick="add_popup_row()"><i class="fa fa-plus"></i> add new row </button>
                            <button class="btn btn-outline-danger" title="Delete" onclick="application_settings_delete_Row('id_popup_table')"><i class="fa fa-trash" aria-hidden="true"></i> delete</button>
                        </div>
                        <div id="id_check_success_messages" class="alert alert-success check_success_message" hidden></div>
                        <div id="id_check_error_messages" class="alert alert-danger check_error_messages" hidden></div>
                        <div id="id_check_special_character_messages" class="alert alert-danger check_special_character_messages" hidden>
                            <p id="id_error_msg_incoterm_key"></p>
                            <p id="id_error_msg_description"></p>
                            <p id="id_error_msg_description_length"></p>
                        </div>
                        <div id="error_msg_id" class="alert alert-danger display-none" role="alert"><span id="error_message"></span></div>
                        <div id="id_warning_msg_id" class="alert alert-warning display-none" role="alert"></div>
                        <div id="id_info_msg_id" class="alert alert-primary display-none" role="alert"></div>
                        <table class="class_popup_table table table-bordered mt-2" id="id_popup_table" >
                            <thead>
                            <tr>
                                <th id="header_select">Select</th>
                                <th>Incoterm </th>
                                <th>Description</th>
                                <th id="id_del_ind_checkbox" hidden>Del Indicator</th>
                            </tr>
                            </thead>
                            <tbody id=id_popup_tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
					<button class="btn btn-outline-primary remove_upload_data" title="Cancel" type="button" data-dismiss="modal"><i class="fas fa-times"></i> cancel</button>
                    <button id="id_delete_duplicate" class="btn btn-primary" title="Delete" style="display:none;" type="button" onclick="delete_duplicate()"><i class="fa fa-trash"></i> delete duplicates</button>
                    <button class="btn btn-primary" title="Save" id="save_id"><i class="fas fa-save"></i> save</button>
                </div>
            </div>
        </div>
    </div>
    <!--end of modal popup for Add,copy,update and upload-->
    <!-- modal popup to upload the csv file; save confirmation popup; delete confirmation popup -->
    {% include 'configuration_common_pop_up.html' %}   
    <div>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div style="color: green; ">{{ message }}</div>
        {% endif %}
        {% if message.tags == 'error' %}
        <div style="color: red; ">{{ message }}</div>
        {% endif %}
        {% if message.tags == 'info' %}
        <div style="color: Black bold"><b>{{ message }}</b> </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>
<script>
    var rendered_incoterm_data ={{incoterms_data|safe}};
    var messages_list = {{messages_list|safe}};
    var rendered_dropdown_data
    var incoterm_data_array = {}
    var main_table_incoterm_value =[];
    var incoterm = '';
    var edit_basic_data ='';
    var GLOBAL_ACTION='';
    var no_duplicate_entries = 'Y'
    var Tablename = uiConstants["CONST_TABLENAME_INCOTERMS"]
    var appname = uiConstants["CONST_APPNAME01"]
    var db_header_data = uiConstants["INCOTERM_KEY", "DESCRIPTION", "del_ind"]

    var incoterm_key_dropdown = '';
    $.each(rendered_dropdown_data, function(i, item){
        incoterm_key_dropdown += '<option value="' + item.field_type_id + '">' + item.field_type_id + '</option>';
    })
    var incoterm_desc_dropdown = '';
    $.each(rendered_dropdown_data, function(i, item){
        incoterm_desc_dropdown += '<option value="' + item.field_type_desc + '">' + item.field_type_desc + '</option>';
    })

    // validate and save for add,copy,update and upload data
    function popup_save_data() {
        $('#success_msg_id').empty()
        $('#id_popup_table').DataTable().destroy();
		no_duplicate_entries = 'Y'
    	no_duplicate_value = 'Y'
	    var error_message = '';
        get_main_table_data(); //Read data from main table
        // compare for duplicates in popup
        [no_duplicate_value,error_message] = compare_table_for_duplicate_entries(validate_add_attributes, incoterms_data)
        if (error_message){
            display_error_message(error_message)
    	}
	    else{
            if ((GLOBAL_ACTION == "COPY") || (GLOBAL_ACTION == "ADD")) {
                // compare main table and pop up for duplicate values
                [no_duplicate_entries,error_message] = maintable_validation(validate_add_attributes, main_table_low_value)
                if(no_duplicate_entries == 'N'){
                    $('#Incoterms_Modal').modal('show');
                }
            }
            if ((no_duplicate_value == 'Y') && (no_duplicate_entries == 'Y')) {
                var add_basic_data = '';
                var incoterm_data_array = incoterms_data;
                $('#id_save_confirm_popup').modal('hide');
                data = {'data':incoterms_data,'table_name':'Incoterms','action':GLOBAL_ACTION}
                OpenLoaderPopup();
                $.ajax({
                    type: 'POST',
                    url: "{% url 'eProc_Master_Settings:create_update_master_data' %}",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (Response) {
                        rendered_incoterm_data = Response[0];
                        display_basic_db_data();
                        $('#Incoterms_Modal').modal('hide');
                        success_response(Response); // Function call to display response data
                        $("#id_check_data").prop("hidden", true);
                        CloseLoaderPopup();
                    }
                });
            }
            else if (error_message){
                display_error_message(error_message)
            }
        }
        table_sort_filter('id_popup_table');
	}
    
    //delete the selected row in db................
    var main_table_incoterm_checked = [];
    function main_table_delete() { 
        $('#success_msg_id').empty()
        GLOBAL_ACTION = 'DELETE'
        main_table_incoterm_checked = [];
        var Tabledata = { "Dbl_clck_tbl_id": 'Incoterms' };
        $('#display_basic_table').DataTable().destroy();
        get_selected_row_data(); // Function call to get the selected row data
        $('#id_delete_confirm_popup').modal('hide');
		data = {'data':main_table_incoterm_checked,'table_name':'Incoterms','action':GLOBAL_ACTION}
		OpenLoaderPopup();
        $.ajax({
            type: 'POST',
            url: "{% url 'eProc_Master_Settings:create_update_master_data' %}",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (Response) {
                rendered_incoterm_data = Response[0];
                display_basic_db_data();
	            success_response(Response); // Function call to display response data
                CloseLoaderPopup();
            }
        });
    }

    // validating the  popup table for duplicate entries
    function compare_table_for_duplicate_entries(validate_add_attributes, incoterm) {
        add_attr_duplicates = false;
        var error_message = ''
        var common = [];
        var add_attr_unique_list = [];
        var no_duplicate_value = 'Y'
        $.each(incoterm, function (i, item) {
            if ((item.incoterm_key.length == 0) || (item.description.length == 0)) {
                $('#Incoterms_Modal').modal('show');
                error_message = ui_messeges("JMSG002")// Get message details
                no_duplicate_value = 'N'
                return [no_duplicate_value,error_message]
            }
        });
        if(no_duplicate_value == 'Y'){
            $.each(validate_add_attributes, function (index, value) {
                if ($.inArray(value, add_attr_unique_list) == -1) {
                    add_attr_unique_list.push(value);
                }
                else {
                    if ($.inArray(value, common) == -1) {
                        common.push(value);
                    }
                }
            });
            if (common.length != 0) {
                display_duplicate_entry(common);  //Function to highlight the rows in popup
                error_message = ui_messeges("JMSG001")// Get message details
                no_duplicate_value = 'N'
                return [no_duplicate_value,error_message]
            }
        }
        return [no_duplicate_value,error_message]
    }


    //Function to highlight duplicate records
    function display_duplicate_entry(common) {
        var incoterms_check = new Array;
        $("#id_popup_table TBODY TR").each(function() {
            var row = $(this);
            aincoterms_dic = {}
            aincoterms_dic.incoterm_key = row.find("TD").eq(1).find('input[type="text"]').val().toUpperCase();
            incoterms_check.push(aincoterms_dic.incoterm_key);
            jQuery.grep(incoterms_check, function(el) {
                if (jQuery.inArray(el, common) != -1) {
                    row_color_highlight(row);
                }
                else {
                    row_color_no_highlight(row);
                }
            });

        });
    }
</script>
<script src="{% static 'scripts/supplier_managment/incoterms.js' %}"></script>
{% endblock %}