<td>
    <div style="height:130px;">
        <h1 style="padding-left:10px;" >Eform Data</h1>
        <div style="text-align:left;padding-left:20px;">

            <div style="padding-bottom:5px;">
                <span id="field2"></span>:
                <span id="value2"></span><br>
            </div>
            <div style="padding-bottom:5px;">
                <b><span id="field3"></span></b>:
                <span id="value3"></span><br>
            </div>
            <div style="padding-bottom:5px;">
                <b><span id="field4"></span></b>:
                <span id="value4"></span><br>
            </div>
            <div style="padding-bottom:5px;">
                <b><span id="field5"></span></b>:
                <span id="value5"></span><br>
            </div>
            <div style="padding-bottom:5px;">
                <b><span id="field6"></span></b>:
                <span id="value6"></span><br>
            </div>
            <div style="padding-bottom:5px;">
                <b><span id="field7"></span></b>:
                <span id="value7"></span><br>
            </div>
            <div style="padding-bottom:5px;">
                <b><span id="field8"></span></b>:
                <span id="value8"></span><br>
            </div>
            <div style="padding-bottom:5px;">
                <b><span id="field9"></span></b>:
                <span id="value9"></span><br>
            </div>
            <div style="padding-bottom:5px;">
                <b><span id="field10"></span></b>:
                <span id="value10"></span><br>
            </div>
        </div>
    </div>
    <br><br>
</td>
