{% extends 'root/base.html' %}
{% load static %}
{% block title %} My Orders (Shop) {% endblock %}

{% block maincontent %}

<!--Search for documents template-->

<div class="container-fluid">
    <div class="mep-form_wrapper">

        <!--Search page-->
        <div class="elements-space-between mb-3">
            <h3>My Documents</h3>
        </div>

        <!--Search form goes here-->
        <div class="card card-shadow-1">
            <div class="card-body">
                <form method="POST" action="{% url 'eProc_Doc_Search_and_Display:search_shopping_carts' %}">
                    {% csrf_token %}
                    {{ sform.non_field_errors }}
    
                    <div class="row">
                        <div class="col-md">
                            <label>Document Type </label>
                            {{ sform.doc_type }}
                        </div>
                        <div class="col-md">
                            <label>Document Number</label>
                            {{ sform.doc_num }}
                        </div>
                        <div class="col-md">
                            <label>Time Frame</label>
                            {{ sform.time_frame }}
                        </div>
                        <div class="col-md">
                            <label>Document Name</label>
                            {{ sform.SCName }}
                        </div>
                        <div class="col-md search_docs" id="sc_status_div" style="display:none">
                            <label>Document Status</label>
                            <select name="status" id="status" class="multiple_select form-control" multiple data-selected-text-format="count" data-actions-box="true" title="Select..">
                                <option value="SAVED">Saved</option>
                                <option value="APPROVED">Approved</option>
                                <option value="REJECTED">Rejected</option>
                                <option value="PURCHASER_WORKLIST">Purchaser Worklist</option>
                                <option value="AWAITING_APPROVAL">Awaiting Approval</option>
                                <option value="DELETED">Deleted</option>
                            </select>

                        </div>
                        <div class="col-md search_docs" id="po_status_div" style="display:none">
                            <label>Document Status</label>
                            <select name="po_status" id="po_status" class="multiple_select form-control" multiple data-selected-text-format="count" data-actions-box="true" title="Select..">
                                <option value="ORDERED">Ordered</option>

                            </select>
                        </div>
                    </div>
    
                    <!--From date and to date should be displayed in same line-->
                    {% if forloop.counter == 3 %}
                    {% else %}
                    <br/>
                    {% endif %}
    
                    <div class="elements-space-between">
                        <div>
                            <button class="btn btn-outline-primary" type="reset" value="Reset"><i class="fas fa-sync-alt"></i> reset</button>
                            <button class="btn btn-primary" type="submit" title="Please click to get the search details!" id="search_button_id"><i class="fas fa-search"></i> search</button>    
                        </div>
                        <div>
                            <span class="badge star-search-help-text-badge"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="d-flex justify-content-end mt-3 mb-3">
            {% if t_count > 0 %}
            <h6 class="text-muted"> Total number of results found {{t_count}}</h6>
            {% elif t_count == 0 %}
            <h6 class="text-muted"> Total number of results found {{t_count}}</h6>
            {% endif %}
        </div>

        <!--    To Display Header Details only if there are any results-->
        {% if t_count > 0 %}
        <div>

            <table class="my-orders-results-table table_sort_filter_pagination" >
                <thead>
                    <tr>
                        <td>
                            <div class="row h6 ml-2 text-muted">
                                <div class="col">Document Number</div>
                                <div class="col">Document Name</div>
                                <div class="col">Created On </div>
                                <div class="col">Total Value</div>
                                <div class="col">Document Status</div>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for sc_head, encrypted_guid in doc_header_details %}
                    <tr>
                        <td>
                            <div class="card mb-1 my-orders-card-list">
                                <div class="card-header" data-toggle="collapse" onclick="displayToggle(this)" id="dataTargetId-{{ forloop.counter }}">
                                    <div class="row h5 mt-2" >
                                        <div class="col">
                                            {% if inp_doc_type == 'DOC01' %}
<!--                                            <a href="{% url 'eProc_Doc_Details:my_order_doc_details' sc_completion_flag 'SC' encrypted_guid 'display' 'my_order' %}" class="link-blue" target="_blank">{{ sc_head.doc_number }}</a>-->
                                            <a href="{% url 'eProc_Doc_Details:my_order_document_detail' encrypted_guid 'my_order' %}" class="link-blue" target="_blank">{{ sc_head.doc_number }}</a>
                                            {% else %}
                                            <a href="{% url 'eProc_Purchase_Order:po_doc_details' encrypted_guid %}" class="link-blue" target="_blank">{{ sc_head.doc_number }}</a>
                                            {% endif %}
                                        </div>

                                        <div class="col">
                                            {% if inp_doc_type == 'DOC01' %}
                                            <a href="{% url 'eProc_Doc_Details:my_order_document_detail' encrypted_guid 'my_order' %}" class="link-blue" target="_blank">{{ sc_head.description }}</a>
                                            {% else %}
                                            <a href="{% url 'eProc_Purchase_Order:po_doc_details' encrypted_guid %}" class="link-blue" target="_blank">{{ sc_head.description }}</a>
                                            {% endif %}
                                        </div>

                                        <div class="col">
                                            {{ sc_head.created_at }}
                                        </div>

                                        <div class="col">
                                            <div>
                                                {{ sc_head.total_value }} {{ sc_head.currency }}
                                            </div>
                                        </div>
                                        <div class="col">    
                                        <i class="fas fa-plus plus-symbol"></i>
                                            {% for doc_approver_detail in doc_approver_details %}
                                            {% if doc_approver_detail.header_guid_id in sc_head.guid and doc_approver_detail.step_num == '1'  %}

                                            {% if doc_approver_detail.app_id != 'Auto'  %}
                                            {% if sc_head.status == 'AWAITING_APPROVAL'%}
                                            <span class="badge badge-pill badge_status_await_approval">WAITING FOR APPROVAL</span>

                                            {% elif sc_head.status == 'SAVED' %}
                                            <span class="badge badge-pill badge_status_save">SAVED</span>

                                            {% elif sc_head.status == 'APPROVED' %}
                                            <span class="badge badge-pill badge_status_approved">APPROVED</span>
                                            <!-- <a href="{% url 'eProc_Doc_Search:generate_sc_details_pdf' sc_head.doc_number %}" target="_blank"><button style="float: right;" class="btn btn-primary">print pdf</button></a> -->
                                            {% elif sc_head.status == 'ORDERED' %}
                                            <span class="badge badge-pill badge_status_approved">ORDERED</span>
                                            {% elif sc_head.status == 'PURCHASER_WORKLIST' %}
                                            <span class="badge badge-pill badge_status_purch_wrkl">IN PURCHASER's WORK LIST</span> 
                                            {% elif sc_head.status == 'DELETED' %}
                                            <span class="badge badge-pill badge_status_rejected">DELETED</span>
                                            {% elif sc_head.status == 'REJECTED' %}
                                            <span class="badge badge-pill badge_status_rejected">REJECTED</span> 
                                            
                                            {% endif %}
                                            
                                            {% elif doc_approver_detail.app_id == 'Auto' %}
                                            {% if sc_head.status == 'PURCHASER_WORKLIST' %}
                                            <span class="badge badge-pill badge_status_purch_wrkl">IN PURCHASER's WORK LIST</span>

                                            {% elif sc_head.status == 'SAVED' %}
                                            <span class="badge badge-pill badge_status_save">SAVED</span>
                                            {% elif sc_head.status == 'AWAITING_APPROVAL' %}
                                            <span class="badge badge-pill badge_status_await_approval">WAITING FOR APPROVAL</span>
                                            {% elif sc_head.status == 'DELETED' %}
                                            <span class="badge badge-pill badge_status_rejected">DELETED</span>
                                            {% else %}
                                            <span class="badge badge-pill badge_status_approved">APPROVED</span>
                                            
                                            {% endif %}
                                            {% endif %}
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                <div id="collapseSearch{{ forloop.counter }}" class="collapse">
                                    <div class="card-body">
                                        <div class="row" >
                                            <div class="col-md-3 grey-border">
                                            
                                                <div class="row mt-2">
                                                    <div class="col-md-2">
                                                        <!-- To display cart logo when document type is shopping cart   -->
                                                        {% if inp_doc_type == 'DOC01' %}
                                                        <div>
                                                            <i class="fas fa-shopping-cart fa-2x" ></i>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-10">
                                                        {% if inp_doc_type == 'DOC01' %}
                                                        <span class="hg_subtext_color">Shopping Cart Number</span><br>
                                                        <div class="h5 link-blue"> {{ sc_head.doc_number }} </div>
                                                        {% endif %}
                    
                                                        {% if inp_doc_type == 'DOC02' %}
                                                        <span class="hg_subtext_color">Purchase Order Number</span><br>
                                                        <div class="h5 link-blue"> {{ sc_head.doc_number }} </div>
                                                        {% endif %}
                    
                                                        <span class="hg_subtext_color">Requested By</span><br>
                                                        <div class="h5 link-blue"> {{ requester_first_name }} </div>

                                                        {% if inp_doc_type == 'DOC02' %}
                                                        {% if sc_head.document_details %}
                                                        <span class="hg_subtext_color">Shopping Cart Number</span><br>
                                                        {% for document_detail in sc_head.document_details %}
                                                        <a href="{% url 'eProc_Doc_Details:my_order_document_detail' document_detail.encrypt_document_number 'my_order' %}" class="link-blue" target="_blank">{{ document_detail.document_number }}</a><br>
                                                        {% endfor %}
                                                        {% endif %}
                                                        {% endif %}

                                                        {% if inp_doc_type == 'DOC01' %}
                                                        {% if sc_head.document_details %}
                                                        <span class="hg_subtext_color">Purchase Order Number</span><br>
                                                        {% for document_detail in sc_head.document_details %}
                                                        <a href="{% url 'eProc_Purchase_Order:po_doc_details' document_detail.encrypt_document_number %}" class="link-blue" target="_blank">{{ document_detail.document_number }}</a>
                                                        {% endfor %}
                                                        {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-9">
                                                {% include 'Workflow/manager_detail.html' %}
                                            </div>
                                        </div>
                    
                                    </div>
                                </div>
                            </div>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    
        </div>
        {% endif %}
    </div>
</div>

<!--  start of manager detail pop up-->
{% include 'Workflow/manager_detail_modal.html' %}

<!--Script to toggle supplier field in SC and PO-->
<script src="{% static 'scripts/doc_search.js' %}"></script>

<script>
    var selected_status_value = {{inp_status | safe}}

    $(document).ready(function () {
    // display shop role sub menu in nav bar
        
        var default_value = '{{my_order_default|safe}}'
        var doc_type = $('#id_doc_type').val()
        display_status(doc_type)
        if (default_value){
            if (default_value == 'DOC01'){
                document.getElementById("supplier").value="";
                $('select option[value="SC"]').attr("selected",true);
                $('#supplier').hide();
                doc_type = $('#id_doc_type').val()
            }
            else if (default_value == 'DOC02'){
                document.getElementById("supplier").style.display="block";
                $('select option[value="PO"]').attr("selected",true);
                $('#supplier').show();
            }
        }
        else{
            $('#supplier').hide();
        }
        var value = saved
        $("#status_dropdown").find("option").show().not("option[value*='" + value + "']").hide();
    });
function display_status(doc_type){
    if(doc_type == 'DOC01'){
        $("#sc_status_div").css("display", "block")
        $("#po_status_div").css("display", "none")
    }
    else if (doc_type == 'DOC02'){
        $("#po_status_div").css("display", "block")
        $("#sc_status_div").css("display", "none")
    }
}
</script>

{% endblock %}