{% extends 'user_sign_in_screen.html' %}

{% block user_login_frame %}
<form method="POST" class="login-page-form">
    <div class="h4 login-page-form-heading">First Login - Password Change</div>
    
    {% if password_change %}
    <div class="hg_login_error">{{ error_messages }}</div>
    {% endif %}

    {% csrf_token %}
    <div>
        {% if messages %}
        {% for message in messages %}
        <div class="{{ message.tags }}">{{ message }}&nbsp;&nbsp;{{attempts_left}}</div>
        {% endfor %}
        {% endif %}
    </div>
    {% for field in form %}
    <div class="form-group" title="{{ field.label }}" >
        {{ field.errors }}
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-block btn-lg" title="Click here to Update and login">
        update & login <i class="fas fa-arrow-right"></i>
    </button>

</form>
{% endblock %}