
{% extends 'user_sign_in_screen.html' %}

{% block user_login_frame %}
     {% csrf_token %}
    <!--If login fails display an error-->
    {% if login_fail %}
    <div class="hg_login_error hg_wid40">{{ response }}</div>
    {% endif %}
    <h4 class="text-center mb-4">Please enter registered Email id</h4>
    <div class="">
        <input name="email" class="form-control form-control-lg" placeholder="Email address" type="email" id="id_email" required="true">
    </div>

    <button class="btn btn-primary btn-lg btn-block" title="Send reset email" onclick="get_user_data()">
        send reset email 
    </button>


<script>
    function get_user_data(){
        var data = {}
         data = {
        'email_id': document.getElementById('id_email').value,
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        }
        $.ajax({
            type: 'POST',
            url: "{% url 'eProc_Login:user_details_email' %}",
            data: data,
            success: function (Response) {
              // pwd_reset_email(Response);
              console.log(Response.user_res);
              alert('sent');
            }
       });
    }

</script>
{% endblock %}