
                      <table class="table">
                        <thead>
                          <tr>
                            <th >Date</th>
                            <th >Total Time Spent</th>
                            <th >Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Monday-2023-04-23</td>
                            <td>Total Time Spent : 10 hrs</td>
                            <td>
                              <button type="button" class="btn btn-sm btn-primary mr-1">View</button>
                              <button type="button" class="btn btn-sm btn-primary mr-1">Manage</button>
                            </td>
                          </tr>
                          <tr>
                            <td>Tuesday-2023-04-24</td>
                            <td>Total Time Spent : 12 hrs</td>
                            <td>
                              <button type="button" class="btn btn-sm btn-primary mr-1">View</button>
                              <button type="button" class="btn btn-sm btn-primary mr-1">Manage</button>
                            </td>
                          </tr>
                           <tr>
                            <td>wednesday-2023-04-24</td>
                            <td>Total Time Spent : 12 hrs</td>
                            <td>
                              <button type="button" class="btn btn-sm btn-primary mr-1">View</button>
                              <button type="button" class="btn btn-sm btn-primary mr-1">Manage</button>
                            </td>
                          </tr>
                          <tr>
                            <td>thursday-2023-04-24</td>
                            <td>Total Time Spent : 12 hrs</td>
                            <td>
                              <button type="button" class="btn btn-sm btn-primary mr-1">View</button>
                              <button type="button" class="btn btn-sm btn-primary mr-1">Manage</button>
                            </td>
                          </tr>
                          <tr class="table-warning">
                            <td>Friday-2023-04-27</td>
                            <td>Total Time Spent : 10 hrs</td>
                            <td>
                              <button type="button" class="btn btn-sm btn-primary mr-1">View</button>
                              <button type="button" class="btn btn-sm btn-primary mr-1">Manage</button>
                            </td>
                          </tr>

                          <tr class="table-success">
                            <td>Saturday-2023-04-28</td>
                            <td>Total Time Spent : 10 hrs</td>
                            <td>
                              <button type="button" class="btn btn-sm btn-primary mr-1">View</button>
                              <button type="button" class="btn btn-sm btn-primary mr-1">Manage</button>
                            </td>
                          </tr>
                         <tr class="table-success">
                            <td>Sunday-2023-04-28</td>
                            <td>Total Time Spent : 10 hrs</td>
                            <td>
                              <button type="button" class="btn btn-sm btn-primary mr-1">View</button>
                              <button type="button" class="btn btn-sm btn-primary mr-1">Manage</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <div class="d-flex justify-content-center mt-3">
                        <div class="btn-group" >
                          <button type="button" class="btn btn-sm btn-primary mr-1">Prev</button>
                          <button type="button" class="btn btn-sm btn-primary mr-1">Current</button>
                          <button type="button" class="btn btn-sm btn-primary mr-1">Next</button>
                        </div>
                      </div>
                    </div>