{% extends 'root/base.html' %}
{% load static %}
{% block title %} Purchase Order Split Criteria (Application Settings) {% endblock %}
{% block maincontent %}
{% include 'root/loader.html' %}

<div class="container-fluid">
    <div class="configuration-table_wrapper">
        <div class="elements-space-between">
            <h3>Maintain Purchase Order Split Criteria</h3>
            <div>
                <button class="btn btn-outline-primary" title="Extract"
                        onclick="location.href='{% url 'eProc_Application_Settings:extract_po_split_criteria_data' %}'"
                        type="button">
                    <i class="fas fa-download"></i> extract
                </button>
                <button type="button" id="id_add_data" title="Add Purchase Order Slit Criteria" value="ADD" class="btn btn-primary" data-toggle="modal" data-target="#po_criteria_Modal" onclick="onclick_add_button(this)">
                    <i class="fa fa-plus"></i> add purchase order slit criteria
                </button>
                <button class="btn btn-outline-secondary" id="id_close" value="close" title="Close"  onclick="window_close();">
                    <i class="fas fa-times"></i> close
                </button>
            </div>
        </div>
        <hr>
        <div class="configuration-table_section">
            <div id="err_msg_app_settings"></div>
            <div id="err_msg_app_settings_t" class="alert alert-success" hidden><span id="success_msg_id"></span></div>
            <div class="table-container tcw-60">
                <div class="edit-button-section mb-4">
                    <button class="btn btn-secondary btn-sm" title="Edit" id="id_edit_data" onclick="onclick_edit_button()">
                        <i class="fas fa-edit"></i> edit
                    </button>
                    <button class="btn btn-outline-danger btn-sm" title="Delete" id="id_delete_data" value="DELETE" style="display:none;" data-toggle="modal" data-target="#id_delete_confirm_popup">
                        <i class="fa fa-trash"></i> delete
                    </button>
                    <button class="btn btn-primary btn-sm" title="Update" id="id_update_data" style="display:none;" value="UPDATE" type="button" onclick="onclick_update_button()">
                        <i class="far fa-edit"></i> update
                    </button>
                    <button class="btn btn-secondary btn-sm" title="Cancel" id="id_cancel_data" style="display:none;" type="button"  onclick="display_basic_db_data()">
                        <i class="fas fa-times"></i> cancel
                    </button>
                </div>
                <table id="display_basic_table" class="class_basic_aac_table table table-bordered custom-table">
                    <thead id="id_aac_table_header">
                    <tr>
                        <th id="hg_select_checkbox" hidden>
                            <div id="id_check_all" style="display:none;">
                                <input type="checkbox" id="selectAll" name="chk[]">
                            </div>
                        </th>
                        <th>Split Type</th>
                        <th>Company Code</th>
                        <th>Status</th>
                        <th hidden>Guid</th>
                        <th hidden>del_ind</th>
                    </tr>
                    </thead>
                    <tbody id="id_po_sp_cr_tbody">
                    {% for aac in upload_acc_assign_categories %}
                    <tr>
                        <td class="class_select_checkbox" hidden><input type="checkbox" class="checkbox_check" onclick="valueChanged()" required></td>
                        <td id={{aac.po_split_type_desc}}>{{ aac.po_split_type_desc}}</td>
                        <td>{{aac.company_code_id}}</td>
                        <td>
                            {% if aac.activate %}
                            Activate
                            {% else %}
                            Deactivate
                            {% endif %}
                        </td>
                        <td hidden>{{aac.po_split_criteria_guid}}</td>
                        <td hidden>del_ind</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!--end of display basic aac table-->
            </div>
        </div>
    </div>
    <!--modal popup for Add,copy,update and upload-->
    <div class="modal fade" id="po_criteria_Modal" style="overflow:auto;">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Maintain Purchase Order Split Criteria</h5>
                    <button type="button" class="close remove_upload_data" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="modal-body scrollbox">
                    <div class="popup-vertical-scroll">
                        <div id="id_del_add_button" class="mb-4">
                            <button class="btn btn-primary" title="Add New Row" type="button" onclick="add_popup_row()"><i
                                    class="fa fa-plus"></i> add new row
                            </button>
                            <button class="btn btn-outline-danger" title="Delete" onclick="application_settings_delete_Row('id_popup_table')"><i class="fa fa-trash"></i>
                                delete
                            </button>
                        </div>
                        <div id="id_check_success_messages" class="alert alert-success check_success_message" hidden></div>
                        <div id="id_check_error_messages" class="alert alert-danger check_error_messages" hidden></div>
                        <div id="id_check_special_character_messages"
                            class="alert alert-danger check_special_character_messages" hidden>
                            <p id="id_error_msg_aac_code"></p>
                            <p id="id_error_msg_aac_name"></p>
                            <p id="id_error_msg_aac_length"></p>
                        </div>
                        <div id="error_msg_id" class="alert alert-danger display-none" role="alert"><span
                                id="error_message"></span></div>
                        <div id="id_warning_msg_id" class="alert alert-warning display-none" role="alert"></div>
                        <div id="id_info_msg_id" class="alert alert-primary display-none" role="alert"></div>
                        <table class="class_popup_table table table-bordered mt-2" id="id_popup_table">
                            <thead>
                            <tr>
                                <th id="header_select">Select</th>
                                <th>Split Type</th>
                                <th>Company Code</th>
                                <th>Status</th>
                                <th hidden>Guid</th>
                                <th id="id_del_ind_checkbox" hidden>Del Indicator</th>
                            </tr>
                            </thead>
                            <tbody id=id_popup_tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary remove_upload_data" title="Cancel" data-dismiss="modal">
                        <i class="fas fa-times"></i> cancel
                    </button>
                    <button class="btn btn-primary" title="Save" id="save_id"><i class="fas fa-save"></i> save</button>
                </div>
            </div>
        </div>
    </div>
    <!--end of modal popup for Add,copy,update and upload-->
    <!-- modal popup to upload the csv file; save confirmation popup; delete confirmation popup -->
    {% include 'configuration_common_pop_up.html' %}
    <div>
        {% if messages %} {% for message in messages %} {% if message.tags == 'success' %}
        <div style="color: green; ">{{ message }}</div>
        {% endif %} {% if message.tags == 'error' %}
        <div style="color: red; ">{{ message }}</div>
        {% endif %} {% if message.tags == 'info' %}
        <div style="color: Black bold"><b>{{ message }}</b></div>
        {% endif %} {% endfor %} {% endif %}
    </div>
</div>
{{ upload_acc_assign_categories|json_script:"upload_acc_assign_categories" }}
{{ dropdown_activate|json_script:"dropdown_activate" }}
<script>
    var rendered_aac_data = JSON.parse(document.getElementById('upload_acc_assign_categories').textContent);
    var messages_list = {{messages_list|safe}};
    var rendered_po_split_types_data = {{po_split_typ|safe}};
    var rendered_company_data = {{upload_data_company|safe}};
    var rendered_activate =  JSON.parse(document.getElementById('dropdown_activate').textContent);
    var aac_data_array = {}
    var po_spl_crit = '';
    var edit_basic_data = '';
    var GLOBAL_ACTION = '';
    var no_duplicate_entries = 'Y'
    var Tablename = uiConstants["CONST_TABLENAME_AAC"]
    var appname = uiConstants["CONST_APPNAME01"]
    var db_header_data = uiConstants["CONST_HEADER_DATA_ACC"]
   
    //***************************
    var po_split_type_dropdown='';
    function dropdown_value() {
        po_split_type_dropdown = '';
        $.each(rendered_po_split_types_data, function(i, item){
        po_split_type_dropdown += '<option value="' + item.po_split_type + '">' + item.po_split_type_desc + '</option>';
        });
    }

    // Hide dropdown when click on add button
    function split_type_drpdown() {
        po_split_type_dropdown = '';
        var hidden_po_split_type = []; // Array to store node types with all their node values used in the main table

        // Function to check if all node values of a specific node type are used in the main table
        function areAll_companyUsed(po_split_type) {
            var company_Values = main_table_data[po_split_type];
            if (!company_Values) {
                return false;
            }
            return company_Values.length === rendered_company_data.length;
        }

        // Iterate through the rendered_po_split_types_data to build the po_split_type dropdown
        $.each(rendered_po_split_types_data, function(i, item) {
            var po_split_type = item.po_split_type;
            var po_split_type_desc = item.po_split_type_desc; // Get the description
            if (!areAll_companyUsed(po_split_type)) {
                po_split_type_dropdown += '<option value="' + po_split_type + '">' + po_split_type_desc + '</option>';
            } else {
                hidden_po_split_type.push(po_split_type);
            }
        });
        $.each(hidden_po_split_type, function(i, hidden_po_split_type) {
            po_split_type_dropdown = po_split_type_dropdown.replace(new RegExp('<option value="' + hidden_po_split_type + '">.*<\/option>'), '');
        });

        // Extract the first node type value from po_split_type_dropdown using regular JavaScript
        var first_split_typeMatch = po_split_type_dropdown.match(/value="([^"]+)"/);
        if (first_split_typeMatch && first_split_typeMatch[1]) {
            first_split = first_split_typeMatch[1];
        }
        if (first_split !== null) {
            var unused_split_typeForFirstType = [];
            var used_split_type = {};
            $.each(main_table_data[first_split], function(index, value) {
                used_split_type[value] = true;
            });
            company_dropdown = '';
            $.each(rendered_company_data, function(i, item) {
                var company = item.company_id;
                if (!used_split_type.hasOwnProperty(company)) {
                    unused_split_typeForFirstType.push(company);
                }
            });
            $.each(unused_split_typeForFirstType, function(i, company) {
                company_dropdown += '<option value="' + company + '">' + company + '</option>'
            });
        }
    }

    //*************************
    var po_split_dropdown = '';
    $.each(rendered_po_split_types_data, function (i, item) {
        po_split_dropdown += '<option value="' + item.po_split_type + '">' + item.po_split_type_desc + '</option>'
    });

    //*************************
    var company_dropdown = '';
    $.each(rendered_company_data, function (i, item) {
        company_dropdown += '<option value="' + item.company_id + '">' + item.company_id + '</option>'
    });

    //*************************
    var activate_dropdown = '';
     $.each(rendered_activate, function(i, item){
        activate_dropdown += '<option value="' + item.field_type_id + '">' + item.field_type_id + '</option>';
    });

    //onclick of cancel display the table in display mode............
    function display_basic_db_data() {
        $('#display_basic_table').DataTable().destroy();
        $('#id_po_sp_cr_tbody').empty();
        var edit_basic_data = '';
        $.each(rendered_aac_data, function(i, item) {
            var data = '';
            if (item.activate == true){
                data = 'Activate'
            } else{
                data = 'Deactivate'
            }
            edit_basic_data += '<tr><td class="class_select_checkbox"><input class="checkbox_check" onclick="valueChanged()" type="checkbox" required></td><td>' + item.po_split_type_desc + '</td><td>' + item.company_code_id + '</td><td>' + data + '</td><td hidden>' + item.po_split_criteria_guid + '</td><td hidden>' + item.del_ind + '</td></tr>';
        });
        $('#id_po_sp_cr_tbody').append(edit_basic_data);
        $("#hg_select_checkbox").prop("hidden", true);
        $(".class_select_checkbox").prop("hidden", true);
        $('input:checkbox').removeAttr('checked');
        $('#id_edit_data').show();
        $('#id_cancel_data').hide();
        $('#id_delete_data').hide();
        $('#id_copy_data').hide();
        $('#id_update_data').hide();
        $('#id_save_confirm_popup').modal('hide');
        $('#id_delete_confirm_popup').modal('hide');
        $('#id_check_all').hide();
        table_sort_filter('display_basic_table');
    }

    // validate and save for add,copy,update and upload data
    function popup_save_data() {
        $('#success_msg_id').empty()
        $('#id_popup_table').DataTable().destroy();
        no_duplicate_entries = 'Y'
        no_duplicate_value = 'Y'
        var error_message = '';
        get_main_table_data(); //Read data from main table
        // compare for duplicates in popup
        [no_duplicate_value,error_message] = compare_table_for_duplicate_entries(validate_add_attributes, po_split_criteria_data)
        if (error_message){
            display_error_message(error_message)
        }
        else {
            if ((GLOBAL_ACTION == "COPY") || (GLOBAL_ACTION == "ADD")) {
                [no_duplicate_entries,error_message] = maintable_validation(validate_add_attributes, main_table_low_value)
                if(no_duplicate_entries == 'N'){
                    $('#po_criteria_Modal').modal('show');
                }
            }
            if ((no_duplicate_value == 'Y') && (no_duplicate_entries == 'Y')) {
                var aac_data_array = po_split_criteria_data;
                $('#id_save_confirm_popup').modal('hide');
                data = {'data':po_split_criteria_data,'table_name':'PoSplitCriteria','action':GLOBAL_ACTION}
                OpenLoaderPopup();
                $.ajax({
                    type: 'POST',
                    url: "{% url 'eProc_Configuration:create_update_application_data' %}",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(Response) {
                        rendered_aac_data = Response[0].upload_account_assign_cat;
                        display_basic_db_data();
                        $('#po_criteria_Modal').modal('hide');
                        success_response(Response); // Function call to display response data
                        CloseLoaderPopup();
                    }
                });
            }
            else if (error_message){
                display_error_message(error_message)
            }
        }
        table_sort_filter('id_popup_table');
    }

    // on click add icon display the row in to add the new entries
    function add_popup_row() {
        update_dropdown();
        basic_add_new_html = '';
        var display_db_data = '';
        $('#id_popup_table').DataTable().destroy();
        $(".modal").on("hidden.bs.modal", function () {
        $("#id_error_msg").html("");
        });
        new_row_data();   // Add a new row in popup
        if (GLOBAL_ACTION == "aac_upload") {
            $(".class_del_checkbox").prop("hidden", false);
        }
    }
    
    //*************************
    function update_dropdown(){
        var data = {}
        $.ajax({
            type: 'POST',
            url: "{% url 'eProc_Configuration:update_po_criteria_dropdown' %}",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(Response) {
                rendered_po_split_types_data = Response.po_split_typ;
                dropdown_value();
            }
        });
    }

    //onclick of add button display po_criteria_Modal popup and set GLOBAL_ACTION button value
    function onclick_add_button(button) {
        OpenLoaderPopup();
        var data = {'table_name':'PoSplitCriteria'}
        $.ajax({
            type: 'POST',
            url: "{% url 'eProc_Configuration:get_dropdown_data' %}",
            data: JSON.stringify(data),
            success: function(response) {
                rendered_po_split_types_data = response.po_split_typ
                rendered_activate = response.dropdown_activate
                rendered_company_data = response.upload_data_company
                get_split_type_data()
                split_type_drpdown()
                $("#error_msg_id").css("display", "none")
                $( "#header_select").prop( "hidden", false );
                GLOBAL_ACTION = button.value
                $('#id_popup_table').DataTable().destroy();
                $("#id_popup_tbody").empty();
                $('#po_criteria_Modal').modal('show');
                new_row_data();   // Add a new row in popup
                $("#header_select").prop("hidden", false);
                $("#id_del_ind_checkbox").prop("hidden", true);
                document.getElementById("id_del_add_button").style.display = "block";
                $("#save_id").prop("hidden", false);
                CloseLoaderPopup();
            }
        });
    }

    //delete the selected row in db................
    var main_table_po_crt_checked = [];
    function main_table_delete() {
        $('#success_msg_id').empty()
        GLOBAL_ACTION = 'DELETE'
        main_table_po_crt_checked = [];
        $('#display_basic_table').DataTable().destroy();
        get_selected_row_data(); // Function call to get the selected row data
        $('#id_delete_confirm_popup').modal('hide');
        data = {'data':main_table_po_crt_checked,'table_name':'PoSplitCriteria','action':GLOBAL_ACTION}
        OpenLoaderPopup();
        $.ajax({
            type: 'POST',
            url: "{% url 'eProc_Configuration:create_update_application_data' %}",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(Response) {
                rendered_aac_data = Response[0].upload_account_assign_cat;
                display_basic_db_data();
                success_response(Response); // Function call to display response data
                CloseLoaderPopup();
            }
        });
    }

    // validating the  popup table for duplicate entries
    function compare_table_for_duplicate_entries(validate_add_attributes, po_spl_crit) {
        add_attr_duplicates = false;
        var error_message = ''
        var common = [];
        var add_attr_unique_list = [];
        var no_duplicate_value = 'Y'
        $.each(po_spl_crit, function (i, item) {
            if ((item.po_split_type == null) || (item.company_code_id == null) || (item.activate == null)) {
                error_message = ui_messeges("JMSG002")// Get message details
                no_duplicate_value = 'N'
                return [no_duplicate_value,error_message]
            }
        });
        if (no_duplicate_value == 'Y') {
            $.each(validate_add_attributes, function (index, value) {
                if ($.inArray(value, add_attr_unique_list) == -1) {
                    add_attr_unique_list.push(value);
                } else {
                    if ($.inArray(value, common) == -1) {
                        common.push(value);
                    }
                }
            });
            if (common.length != 0) {
                display_duplicate_entry(common);  //Function to highlight the rows in popup
                error_message = ui_messeges("JMSG001")// Get message details
                no_duplicate_value = 'N'
                return [no_duplicate_value,error_message]
            }
        }
        return [no_duplicate_value,error_message]
    }

    // on click update icon display the selected checkbox data to update
    function onclick_update_button() {
        GLOBAL_ACTION = "UPDATE"
        onclick_copy_update_button("UPDATE");
        document.getElementById("id_del_add_button").style.display = "none";
    }

    //*************************************
    function onclick_copy_update_button(data) {
        OpenLoaderPopup();
        var data = {'table_name':'PoSplitCriteria'}
        $.ajax({
            type: 'POST',
            url: "{% url 'eProc_Configuration:get_dropdown_data' %}",
            data: JSON.stringify(data),
            success: function(response) {
                rendered_po_split_types_data = response.po_split_typ
                rendered_activate = response.dropdown_activate
                rendered_company_data = response.upload_data_company
                dropdown_value()
                $("#error_msg_id").css("display", "none")
                $('#id_popup_table').DataTable().destroy();
                $("#id_popup_tbody").empty();
                //Reference the Table.
                var res = get_all_checkboxes(); // Function to get all the checkboxes
                var $chkbox_all = $('td input[type="checkbox"]', res);
                //Reference the CheckBoxes in Table.
                var edit_basic_data = "";
                var unique_input = '';
                var dropdown_val = [];
                //Loop through the CheckBoxes.
                for (var i = 0; i < $chkbox_all.length; i++) {
                    if ($chkbox_all[i].checked) {
                        var row = $chkbox_all[i].parentNode.parentNode;
                        var activate = row.cells[3].innerHTML
                        dropdown_val.push([activate])
                        if(GLOBAL_ACTION == "UPDATE"){
                            guid = row.cells[4].innerHTML;
                            edit_basic_data += '<tr><td hidden><input type="checkbox" required></td><td><select class="form-control"   type="text" disabled><option>' + row.cells[1].innerHTML + '</option></select></td><td><select class="form-control"   type="text" disabled><option>' + row.cells[2].innerHTML + '</option></select></td><td><select type="text" class="input form-control">'+ activate_dropdown +'</select></td><td hidden><input type="text" class= "form-control" value="' +  guid  + '"></td><td class="class_del_checkbox" hidden><input type="checkbox" required></td></tr>';
                        $("#header_select").prop("hidden", true);
                        }
                    }
                }
                $('#id_popup_tbody').append(edit_basic_data);
                var i = 0;
                $("#id_popup_table TBODY TR").each(function () {
                    var row = $(this);
                var activate = dropdown_val[i][0]
                $(row.find("TD").eq(3).find("select option[value=" + activate + "]")).attr('selected', 'selected');
                i++;
                })
                $("#id_del_ind_checkbox").prop("hidden", true);
                $('#po_criteria_Modal').modal('show');
                table_sort_filter('id_popup_table');
                CloseLoaderPopup();
            }
        });
    }

    //Function to highlight duplicate records
    function display_duplicate_entry(common) {
        var po_split_criteria_check = new Array;
        $("#id_popup_table TBODY TR").each(function() {
            var row = $(this);
            po_split_criteria_dic = {}
            po_split_criteria_dic.po_split_type = row.find("TD").eq(1).find('select[type="text"]').val();
            po_split_criteria_dic.company_code_id = row.find("TD").eq(2).find('select[type="text"]').val();
            var compare = po_split_criteria_dic.po_split_type + '-' + po_split_criteria_dic.company_code_id
            po_split_criteria_check.push(compare);
            jQuery.grep(po_split_criteria_check, function(el) {
                if (jQuery.inArray(el, common) != -1) {
                    row_color_highlight(row);
                }
                else {
                    row_color_no_highlight(row);
                }
            });

        });
    }
</script>
<script src="{% static 'scripts/po_split_criteria.js' %}"></script>
{% endblock %}