<!--Display details of a Document-->
<!--including base.html page-->
{% extends 'root/base.html' %}
{% load custom_tags %}
{% load static %}

{% block title %} Attachments and PO-Preview {% endblock %}

{% block maincontent %}
<br>
<br>
<br>
<h1>&nbsp;&nbsp;&nbsp;Attachments and PO-Preview</h1>
<div class="hg_det-at-div">
<table class="hg_det-at-tbl">
    <!--Token required while using POST method-->
    {% csrf_token %}
    <tr>
        <td  title="Attachments">
            <span>&nbsp;Attachments</span>
        </td>
        <td title="Po-Preview">
            <span>&nbsp;PO-Preview</span>
            <button style="float:right" onclick="up_hide_div()" title="Click to go to parent directory!"><img src="{% static 'img/uparrow.png'%}" ></button>
        </td>
    </tr>
    <tr>
        <!--Print all attachments-->
        <td id="attach_col">
            {% for attach in attachments %}
            <img src="{% static 'img/file.png'%}" style="border:none; width:15px; height:15px; padding-top:8px;">
            <a class="hg_po_attach" href="{% url 'eProc_Notes_Attachments:attach_download' %}?path={{ attach.0 }}"  title="Click to Download">{{ attach.1 }}</a>
            </br>
            {% endfor %}
        </td>
        <!--Print all POPDFS-->
        <td id="popdf_col">
            {% for file in popdf %}
            <!--If file is directory get list of files inside directory otherwise download the file-->
            {% if file|check_is_file %}
            <img src="{% static 'img/file.png'%}" style="border:none; width:15px; height:15px; padding-top:8px;">
            <a class="hg_po_attach" href="{% url 'eProc_Notes_Attachments:attach_download' %}?path={{ file.0 }}" title="Click to Download">{{ file.1 }}</a>
            {% else %}
            <img src="{% static 'img/folder.png'%}" >
            <a  class="hg_po_attach" onclick="get_pdf('{{ file.0 }}')"  href="javascript:void(0);">{{file.1 }}</a>
            {% endif %}
            </br>
            {% endfor %}
        </td>
    </tr>
</table>
</div>
<!--Section to keep track of directory structure of POPDFs(is hidden)-->
<div style="display:none" id="up-hide-div">
</div>
<script>
    / Directory level count /
    var no_of_hide=0;
</script>
    {% if inc_footer %}
        {% include 'root/footer.html' %}
    {% endif %}

{% endblock %}