{% extends 'root/base.html' %}
{% load static %}
{% block maincontent %}



{% include 'root/navbar.html' %}
{% include 'root/loader.html' %}

<body >
<div class="hg_spacing" style="font-size:30px;margin-top:20px">Maintain Purchaser Cockpit Data</div>
<hr class="hg_heading_hrborder hg_spacing">
       <div id="edit_purch_cockpit_div" class="hg_button_bottom_padding hg_spacing" style="display: block;">
        <button class="btn btn-primary" onclick="edit_purch_cockpit_data()"><i class="fas fa-edit" id="edit" title="Edit"></i>
            edit</button>
    </div>
    <div id="add_delete_line_purch_cockpit_div" style="display: none;" class="hg_button_bottom_padding hg_spacing">
        <button class="btn btn-primary" onclick="purch_cockpit_app_add_new_line();"><i class="fa fa-plus"
                aria-hidden="true" id="add_line" title="Add Line"></i> add</button>
        <button class="btn btn-primary" onclick="application_settings_delete_Row('display_purch_table')"><i class="fa fa-trash"
                aria-hidden="true" title="Delete Line" id="delete_line"></i> delete</button>
    </div>
 <div class="hg_table_app_align hg_spacing">
     <table id="display_purch_table" class="table_sort_filter table-striped" style="margin-bottom:10px;">
         <thead id="purch_header">
         <tr>
             <th id="hg_select_checkbox" style="padding:10px; width:30px;" hidden>Select</th>
             <th style="padding:10px; width:30px;">Product category from</th>
             <th style="padding:10px; width:150px; text-align:left;">Product category to</th>
             <th style="padding:10px; width:150px; text-align:left;">Purchaser cockpit value </th>
             <th style="padding:10px; width:150px; text-align:left;" hidden>Guid </th>
         </tr>
         </thead>
         <tbody id="purch_body">
         {% for purchcockpit in purch_Cockpit %}
         <tr >

             <td>{{purchcockpit.from_prod_cat}}</td>
             <td>{{purchcockpit.to_prod_cat}}</td>
             <td>{{purchcockpit.purch_cockpit_value}}</td>
             <td hidden>{{purchcockpit.guid}}</td>
             <td hidden></td>
         </tr>
         {% endfor %}
         </tbody>
     </table>
    </div>

    <div id="purch_cockpit_edit_buttons" class="hg_cancel_save_button_align" style="display:none;">
        <button type="button" class="btn btn-primary hg_button_margin" onclick="display_purch_cockpit_data()"><i
                class="fas fa-times"></i> cancel</button>
        <button type="button" onclick="purch_cockpit_save()" class="btn btn-primary"><i class="fas fa-save"></i> save</button>
    </div>
</div>
<script>
 var purchase_data_settings = '{{purchase_data_settings|safe}}';
   // var rendered_purch_cockpit_data ={{purch_Cockpit|safe}};
   var purchcockpit_array="";


//**********************
 // on click of purch cockpit display purch cockpit data from db

    function basic_settings_upload(purch_Cockpit) {

       document.getElementById("purch_cockpit_edit_buttons").style.display = "none";
}

//**********************************************************
  // on click edit icon display the data in edit mode
function edit_purch_cockpit_data(){
    var edit_basic_data = '';
    purchcockpit_array = []
    $('#display_purch_table tbody tr').each(function (index) {
        var row = $(this);
        var purchcockpit_object = {};
        purchcockpit_object.from_prod_cat = row.find("td:eq(0)").html();
        purchcockpit_object.to_prod_cat = row.find("td:eq(1)").html();
        purchcockpit_object.purch_cockpit_value = row.find("td:eq(2)").html();
        purchcockpit_object.guid = row.find("td:eq(3)").html();

        purchcockpit_array .push(purchcockpit_object);
    });
    $('#purch_body').empty();
    $.each(purchcockpit_array, function( index, value ) {
      edit_basic_data += '<tr><td><input type="checkbox" required></td><td><input type="number" value="'+ value['from_prod_cat'] +'"></td><td><input type="number" value="'+ value['to_prod_cat'] +'"></td><td><input type="text" value="'+ value['purch_cockpit_value'] +'"></td><td hidden><input  value="'+ value['guid'] +'" ></td></tr>'
    });
     $('#purch_body').append(edit_basic_data);
     $( "#hg_select_checkbox").prop( "hidden", false );



        document.getElementById("add_delete_line_purch_cockpit_div").style.display = "block";
        document.getElementById("purch_cockpit_edit_buttons").style.display = "block";
        document.getElementById("edit_purch_cockpit_div").style.display = "none";

}

//**********************************
 // on click of add new line icon, add new line to editable table
    function purch_cockpit_app_add_new_line() {

        basic_add_new_html = '';
              var display_db_data='';

                basic_add_new_html =  '<tr ><td><input type="checkbox" required></td><td><input class="input" type="number" name="from_prod_cat" required></td><td><input class="input" type="number" name="to_prod_cat" required></td><td>false</td></tr>';

            $('#purch_body').append(basic_add_new_html);
        }
//************************
//sort and filter feature for tables
$(document).ready(function(){
    table_sort_filter()
});

//***************************
//onclick of delete,delete the row.
  function application_settings_delete_Row(myTable) {
            try {
                var table = document.getElementById(myTable);
                var rowCount = table.rows.length;

                for (var i = 0; i < rowCount; i++) {
                    var row = table.rows[i];
                    var chkbox = row.cells[0].childNodes[0];
                    if (null != chkbox && true == chkbox.checked) {
                        table.deleteRow(i);
                        rowCount--;
                        i--;
                    }
                }
                return rowCount;
            } catch (e) {
                alert(e);
            }
        }


//***********************************
//onclick of cancel............

function display_purch_cockpit_data(){
    $('#purch_body').empty();
    var edit_basic_data = '';
     $.each(purchcockpit_array, function( index, value ) {
      edit_basic_data +='<tr><td>'+ value['from_prod_cat'] +'</td><td>'+ value['to_prod_cat'] +'</td><td>'+ value['purch_cockpit_value'] +'</td><td hidden>'+ value['guid'] +'</td></tr>'
    });

     $('#purch_body').append(edit_basic_data);
     $( "#hg_select_checkbox").prop( "hidden", true );

        document.getElementById("purch_cockpit_edit_buttons").style.display = "block";
        document.getElementById("edit_purch_cockpit_div").style.display = "block";
        document.getElementById("add_delete_line_purch_cockpit_div").style.display = "none";
        document.getElementById("purch_cockpit_edit_buttons").style.display = "none";


}

//*******************

// on click of save, save edited data into db
        function purch_cockpit_save() {
            var purchase_cockpit_data = new Array();
            $("#display_purch_table TBODY TR").each(function () {
                var row = $(this);
                var purch_cockpit_data = {};
                purch_cockpit_data.from_prod_cat = row.find("td:eq(1) input[type='number']").val()
                purch_cockpit_data.to_prod_cat = row.find("td:eq(2) input[type='number']").val()
                purch_cockpit_data.purch_cockpit_value = row.find("td:eq(3) input[type='text']").val();
                purch_cockpit_data.guid = row.find("td:eq(4)").html();
                purchase_cockpit_data.push(purch_cockpit_data);
            })
            $.ajax({
                type: 'POST',
                url: "{% url 'eProc_Application_Settings:save_purch_cockpit' %}",
                data: JSON.stringify(purchase_cockpit_data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (Response) {
                        purchcockpit_array = Response;

                            $( "#hg_select_checkbox").prop( "hidden", true );
                         $('tr td:nth-child(1)').hide();
                         document.getElementById("edit_purch_cockpit_div").style.display = "block";
        document.getElementById("add_delete_line_purch_cockpit_div").style.display = "none";
        document.getElementById("purch_cockpit_edit_buttons").style.display = "none";

                        //display_purch_cockpit_data();




            }
        });
        }

</script>
</body>
{% endblock %}