$nav-link-color:#969696;
$nav-link-active-color:#0089ff;
$green-success:#7bce00;
$white-plain:#ffffff;
$main-background-color:#e9ecef;
$table-color-alternate:#eeeeee;
$menu-bar-hover:rgba(150, 150, 150, 0.122);
$sidenav-color-dark:#343a40;
$sidenav-color-dark-hover:#414952;
$sidenav-color-paragraph:#bbbbbb;
$orange-primary:#F0B64D;
$subtext-color-light:#757575;

// sidenav icon colors
$icon-home:#008eec;
$icon-shop: #8b00ad;
$icon-purchase:#6277f1;
$icon-admintool:#fabd4c;
$icon-orgmodel:#9A6324;
$icon-approvals:#34a300;
$icon-personalize:#ff4800;
$icon-configure:#7084c4;
$icon-settings:#6c757d;
$icon-contentmgmt:#0f0f98;

// gradients
$jumbotron-background:rgb(238,174,202);
$jumbotron-radial-gradient:radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

// configuration
$yellow:#eeea14;
$red:#e90c0c;
$light-blue:#24d7f3;
$pink:#e515a0;
$light-green:#29ee3d;

$blue-primary:#007bff;
$tangerine-primary:#ff812d;
$teal-primary:#147a8b;
$green-primary:#47a83b;
$purple-primary:#7363d1;
$red-primary:#c91c2e;
$grey-primary:#6c757d;
